.tech {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

.loading {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: #4D4D4D;
  text-align: end;
  padding-right: 5px;
}
.wrapper{
  display: inline-block;
}