.radio {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.radio:focus::before {
    border: 4px solid rgb(255, 255, 255);
    background-color: black;
}

.radio::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: 2px solid rgb(0, 0, 0);
    border: 4px solid white;
}

.radio:checked::before {
    background-color: black;
    outline-color: black;
}

.label {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    span {
        margin-left: 10px;
    }
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}